In [1]:
print('jah')

jah

In [2]:
print("jah")

jah

In [3]:
stra = 'print'

In [4]:
print("jah")

jah

In [6]:
lista = ['netflix', 'prime', 'hotstar', 'zee5', ['disney', 'hbo', 'tv+']]

In [13]:
if lista[0] == 'prime':
    print("first condition")
elif lista[0]<'prime':
    print("2nd")
else:
    print("else condition")

2nd

In [16]:
for var in lista:
    print(var)

netflix
prime
hotstar
zee5
['disney', 'hbo', 'tv+']

In [17]:
print(var)

['disney', 'hbo', 'tv+']

In [18]:
for var in lista:
    print(type(var))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

In [19]:
listb = ['zee', 'sonyliv', 'voot']

In [20]:
listc = lista+listb

In [21]:
listc

['netflix',
 'prime',
 'hotstar',
 'zee5',
 ['disney', 'hbo', 'tv+'],
 'zee',
 'sonyliv',
 'voot']

In [22]:
print(listc)

['netflix', 'prime', 'hotstar', 'zee5', ['disney', 'hbo', 'tv+'], 'zee', 'sonyliv', 'voot']

In [27]:
for i in range(0,3):
    
    for j in range(0,3):
        
        if(i==j):
            print("lunch at 2pm")
            continue;
        else:
            print("no lunch")
        print("no tea")

lunch at 2pm
no lunch
no tea
no lunch
no tea
no lunch
no tea
lunch at 2pm
no lunch
no tea
no lunch
no tea
no lunch
no tea
lunch at 2pm

In [28]:
pass

In [33]:
listc = ['netflix','prime','hotstar','zee5',]

In [30]:
listb

['zee', 'sonyliv', 'voot']

In [34]:
for i in listc:
    if(i in lista):
        print(i)
    else:
        print('no')

netflix
prime
hotstar
zee5

In [35]:
def funca():
    print('just a func')
    print('to say hello')
    return 78,89,90

In [36]:
x = funca()

just a func
to say hello

In [37]:
a,b,c = funca()

just a func
to say hello

In [38]:
a

78

In [39]:
b

89

In [40]:
c

90

In [44]:
def func(la, lb):
    print('la= ', la)
    print('lb= ',lb)
    return (la+lb)

In [45]:
func(5,6)

la=  5
lb=  6

11

In [48]:
def funcd(la, lb, lc):
    print('la ',la)
    print('lb ',lb)
    print('lc ',lc)
    return None

In [49]:
funcd(10, 20, 30)

la  10
lb  20
lc  30

In [51]:
x = funcd

In [52]:
for i in range(0,5):
    for j in range(i):
        print(i*j)

0
0
2
0
3
6
0
4
8
12

In [53]:
type = print

In [54]:
type("love")

love

In [55]:
print("hate")

hate

In [64]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [82]:
z = "naturally"

In [70]:
strb = "obviously"

In [86]:
for i in range(0,5):
    print(z[i])

n
a
t
u
r

In [87]:
if lista:
    print(true)
else:
    print(false)

NameError: name 'true' is not defined

In [90]:
del lista

In [91]:
listc.count('tv+')

0

In [92]:
listc.count('voot')

0

In [93]:
listc

['netflix', 'prime', 'hotstar', 'zee5']

In [94]:
listc.count('prime')

1

In [95]:
listc = listc+'voot'

TypeError: can only concatenate list (not "str") to list

In [96]:
stra = 'voot'

In [97]:
listc = listc+stra

TypeError: can only concatenate list (not "str") to list

In [98]:
listb

['zee', 'sonyliv', 'voot']

In [99]:
listc = listc+listb

In [100]:
listc

['netflix', 'prime', 'hotstar', 'zee5', 'zee', 'sonyliv', 'voot']

In [101]:
listc[7] = 'viu'

IndexError: list assignment index out of range

In [107]:
def funce():
    print("la ",la)
    print("lb ",lb)
    print("tuple values are")
    for val in ttt:
        print(val)
    return None

In [111]:
print(type(funce))

<function funce at 0x0000016E18C39C18>
None