In [14]:
import pandas as pd

In [15]:
one = pd.read_excel('one.xlsx')

In [16]:
one

  name  values  sum
0    v      12   35
1    c      23   57
2    e      34   79
3    r      45  101
4    t      56  123
5    s      67  145
6    y      78  167
7    f      89  179
8    b      90   90

In [17]:
one.columns

Index(['name', 'values', 'sum'], dtype='object')

In [18]:
one['values'].mean()

54.888888888888886

In [19]:
one.describe()

          values         sum
count   9.000000    9.000000
mean   54.888889  108.444444
std    28.436088   49.064017
min    12.000000   35.000000
25%    34.000000   79.000000
50%    56.000000  101.000000
75%    78.000000  145.000000
max    90.000000  179.000000

In [20]:
import sqlite3

In [21]:
conn = sqlite3.connect('sports.db')

In [22]:
q = "SELECT * FROM players"

In [25]:
two = pd.read_sql_query(q, conn)

In [26]:
two

   id           name       sport       earn   country
0  12  Roger Federer      tennis  4050600.0     swiss
1  14          senna     foruma1   346780.0    brazil
2  16         lebron  basketball   408920.0        US
3  18          saina   badminton    28230.0     india
4  20         smriti     cricket    12054.0     india
5  22            RON    football   680234.0  portugal

In [27]:
two.to_excel('sql.xlsx', index=False)

In [28]:
pass

In [29]:
three = pd.read_csv('sample.csv')

FileNotFoundError: [Errno 2] File b'sample.csv' does not exist: b'sample.csv'